importFrom("grDevices", "jpeg", "png", "dev.off")

export(
  geckoCreateAccount,
  geckoDatasetCreate,
  geckoDatasetRemove,
  geckoDatasetReplace,
  geckoImagePrepare,
  geckoImageSave,
  geckoCustomWidgetUpdate,
  geckoPushData
)
